/*edit text jumbotron*/
body{

	background-color: #f7f7f7;
	font-family: Arial;
}
.navbar{
	font-size: 14px;
	background-color: #FBE99E;
}
.nav_logo{
	color: #1F3C88;
	font-size: 22px;
	font-weight: bold;
}
.nav-opt{
	color: #1F3C88;
	font-weight: bold;
}
.nav-reg{
	padding: 10px;
	background-color: #1F3C88;
	color: #FBE99E;
	font-weight: bold;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 100px;
}

.card {
	border: 0px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
}

.gmbr {
	margin-top: 5%;
}

.filter {
	height: 75px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #1F3C88;
	border-radius: 20px;
}

.konten {
	margin-right: 10%;
	margin-left: 10%;
}