body{
	font-family: Roboto;
	background-color: #F6F5F5;
}
#form{
	background-color: #1F3C88;
	margin-left: 10%;
	margin-right: 50%;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-bottom: 30%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 10px 50px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.isi-form{
	border-color: white;
	border-radius: 20px;
	padding-left: 10px;
	font-weight: bold;
	padding-right: 10px;
	margin :5%;
}
.logo{
	margin-left: 10%;
	margin-top: 25px;
}
table{
	position: absolute;
	height: 35%;
	left: 15%;
	top: 30%;
}